/*============================================================
 *Global Styles
 *===========================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    @extend html;
    font-size: $base-font-size !important;
    font-family: $base-font-family;
    color: $base-color;
    position: relative;
    background-color: $body-background-color;
    -ms-touch-action: pan-y;
    overflow-x: hidden;
    outline: none;
}

a {
    text-decoration: none;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $base-font-family;

    @media only screen and (max-width: 991px) {
        font-size: 15px;
    }

    &:hover {
        transition: all 0.3s ease-in-out;
    }
}

p {
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $base-font-family;
    margin: 0;

    @media only screen and (max-width: 991px) {
        font-size: 14px;
    }
}

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
    image-rendering: optimizeQuality;
    -webkit-optimize: contrast;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
}

button {
    font-family: $base-font-family;
}