h1 {
    font-size: clamp(42px, 6vw, 110px);
    font-style: normal;
    font-weight: 400;
    line-height: 118.667%;

    @media (max-width: 1700px) {
        font-size: clamp(42px, 5vw, 110px);
    }
}


h2 {
    font-size: clamp(36px, 6vw, 85px);
    font-style: normal;
    font-weight: 400;
    line-height: 118.667%;

    @media (max-width: 1700px) {
        font-size: clamp(36px, 5vw, 85px);
    }
}



h3 {
    font-size: clamp(32px, 6vw, 72px);
    font-style: normal;
    font-weight: 400;
    line-height: 118.667%;

    @media (max-width: 1700px) {
        font-size: clamp(32px, 4vw, 72px);
    }
}



h4 {
    font-size: clamp(30px, 6vw, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: 118.667%;

    @media (max-width: 1700px) {
        font-size: clamp(30px, 5vw, 40px);
    }
}



h5 {
    font-size: clamp(24px, 1.8vw, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: 118.667%;

}

h6 {
    font-size: clamp(18px, 1.8vw, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 118.667%;

}


p {
    font-family: var(--secondaryFont);
    letter-spacing: var(--Label-Label-1-LetterSpacing, 0.1px);
}

img {
    image-rendering: auto !important;
}