.accordion-container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto 110px auto;



    @media (max-width: 1800px) {
        margin: 0 auto 90px auto;
    }

    @media (max-width: 1700px) {
        margin: 0 auto 80px auto;
    }


    @media (max-width: 1400px) {
        margin: 0 auto 70px auto;
    }

    @media (max-width: 991px) {
        margin: 0 auto 60px auto;
    }

    h6 {
        color: #6C86E3;
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 1400px) {
            margin-bottom: 10px;
        }
    }

    h2 {
        margin-bottom: 55px;
        text-align: center;


        @media (max-width: 1400px) {
            margin-bottom: 40px;
        }

        @media (max-width: 1200px) {
            margin-bottom: 25px;
        }

    }

    .accordion-item {
        padding: 28px;
        margin-bottom: 8px;
        border-radius: 18px;
        background: #FFF;
        box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.08);

        @media (max-width: 1400px) {
            padding: 22px;
        }

        .accordion-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            span {
                color: #5D6A66;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;

                @media (max-width: 1400px) {
                    font-size: 18px;
                }

            }

            i {
                font-size: 8px;
                color: #9C9C9C;

                @media (max-width: 1400px) {
                    font-size: 7px;
                }

            }
        }

        .accordion-content {
            margin-top: 15px;

            @media (max-width: 1400px) {
                margin-top: 8px;
            }

            .content-inner {
                color: #7C8D88;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;

            }
        }

        &.active {
            span {
                color: #11201B;
            }

        }
    }



}