.user-icon-wrapper {
    display: inline-block;
    padding: 18px 8px 0 8px;

    .user-icon {
        display: inline-block;
        margin-left: -19px;

        img {
            width: clamp(44px, 4vw, 68px);
            height: clamp(44px, 4vw, 68px);
            border-radius: 100%;
            border: 2px solid #ffffff;
        }
    }

    &:first-of-type {
        margin: 0;
    }
}