/*****************************************
 * 
 *****************************************/
.signup-form-input {
    width: 100%;

    form {
        display: flex;

        border-radius: 10px;
        overflow: hidden;
        height: 73px;

        @media (max-width: 1700px) {
            height: 60px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 9px;
            height: auto;
        }

        input {
            height: 100%;
            width: 100%;
            padding: 15px 35px;

            background: #FFF;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            outline: none;

            border: none;


            @media (max-width: 768px) {
                border-radius: 9px;
            }

            &::placeholder {
                color: #A7A7A7;
            }

        }

        .button-solid-primary {
            height: 100%;
            flex-shrink: 0;
            cursor: pointer;

            &.button-md {
                border-radius: 0;
                padding: 15px 53px;

                @media (max-width: 768px) {
                    border-radius: 9px;
                }
            }


        }
    }

    .signup-notes {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }


        .dot {
            line-height: 0;
        }


        span {
            color: #879AC3;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;

        }
    }

}