@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j128tr');
  src:  url('fonts/icomoon.eot?j128tr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j128tr') format('truetype'),
    url('fonts/icomoon.woff?j128tr') format('woff'),
    url('fonts/icomoon.svg?j128tr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-arrow-5:before {
  content: "\e92c";
}
.icon-star:before {
  content: "\e92b";
}
.icon-two-way:before {
  content: "\e929";
}
.icon-ticket-3:before {
  content: "\e92a";
}
.icon-pin:before {
  content: "\e924";
}
.icon-setting-2:before {
  content: "\e925";
}
.icon-nav-left:before {
  content: "\e926";
}
.icon-nav-right:before {
  content: "\e927";
}
.icon-close-2:before {
  content: "\e928";
}
.icon-sla:before {
  content: "\e91f";
}
.icon-graph:before {
  content: "\e920";
}
.icon-role-based:before {
  content: "\e921";
}
.icon-multi-tenant:before {
  content: "\e922";
}
.icon-email-first:before {
  content: "\e923";
}
.icon-growing:before {
  content: "\e91c";
}
.icon-timer:before {
  content: "\e91d";
}
.icon-flash:before {
  content: "\e91e";
}
.icon-automation:before {
  content: "\e91a";
}
.icon-mail-03:before {
  content: "\e91b";
}
.icon-teams-and-agents:before {
  content: "\e919";
}
.icon-ticket-management:before {
  content: "\e917";
}
.icon-tick-2:before {
  content: "\e918";
}
.icon-icon-1:before {
  content: "\e910";
}
.icon-right-arrow:before {
  content: "\e90f";
}
.icon-link:before {
  content: "\e911";
}
.icon-tick-round:before {
  content: "\e912";
}
.icon-edit:before {
  content: "\e913";
}
.icon-link-2:before {
  content: "\e914";
}
.icon-email:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-tick:before {
  content: "\e90e";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-lifeboy:before {
  content: "\e904";
}
.icon-service:before {
  content: "\e905";
}
.icon-guided:before {
  content: "\e906";
}
.icon-handle-all:before {
  content: "\e907";
}
.icon-drop-down:before {
  content: "\e908";
}
.icon-arrow-up-right:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-linkein:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90d";
}
.icon-th-menu:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
