@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?68feb7');
  src:  url('fonts/icomoon.eot?68feb7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?68feb7') format('truetype'),
    url('fonts/icomoon.woff?68feb7') format('woff'),
    url('fonts/icomoon.svg?68feb7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-lifeboy:before {
  content: "\e904";
}
.icon-service:before {
  content: "\e905";
}
.icon-guided:before {
  content: "\e906";
}
.icon-handle-all:before {
  content: "\e907";
}
.icon-drop-down:before {
  content: "\e908";
}
.icon-arrow-up-right:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-linkein:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90d";
}
