/*****************************************
 * 
 *****************************************/
.about-area-features {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        height: 1px;
        opacity: 1;
        opacity: 0.2;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, #7399E9 49.74%, rgba(102, 102, 102, 0.00) 100%);
    }
}

/*****************************************
 * Features box
 *****************************************/

.features-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 66px 88px 80px 88px;

    .item {
        max-width: 345px;
        width: 100%;

        i {
            display: block;
            margin-bottom: 20px;
            font-size: 35px;
            color: #292D32;
        }

        h6 {
            margin-bottom: 6px;
        }

        p {
            color: #828282;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
        }



    }

    @media (max-width: 1700px) {

        padding: 56px 70px 60px 70px;

        .item {
            max-width: 280px;

            p {

                font-size: 15px;

            }
        }
    }

    @media (max-width: 1200px) {
        padding: 40px 45px 40px 45px;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;

        .item {
            max-width: 100%;

            p {

                font-size: 15px;

            }
        }
    }

    @media (max-width: 768px) {
        padding: 40px 45px 40px 45px;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;

        .item {
            max-width: 100%;

            p {

                font-size: 15px;

            }
        }
    }



}



.grid-view-ui {
    width: 100%;
    margin-bottom: 90px;

    @media (max-width: 1800px) {
        margin-bottom: 80px;
    }

    @media (max-width: 1700px) {
        margin-bottom: 70px;
    }

    @media (max-width: 1400px) {
        margin-bottom: 60px;
    }

    @media (max-width: 1200px) {
        margin-bottom: 50px;
    }

    .content-area {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;

        @media (max-width: 1500px) {
            gap: 15px;
        }

        @media (max-width: 991px) {
            gap: 11px;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }


        span,
        .grid-image-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 127px;
            border-radius: 38px;
            background: #F6F8FB;
            transform: scale(0);
            transition: all 0.4s ease-in-out;

            img {
                width: 100%;
                max-width: 40%;
                transform: scale(0);
                transition: all 0.3s ease-in-out 0.4s;
            }

            @media (max-width: 1700px) {
                border-radius: 18px;
                height: 100px;
            }

            @media (max-width: 1500px) {
                border-radius: 18px;
                height: 100px;
            }

            @media (max-width: 1400px) {
                height: 93px;
            }


            @media (max-width: 1300px) {
                height: 87px;
            }

            @media (max-width: 1200px) {
                height: 75px;
                border-radius: 13px;
            }

            @media (max-width: 991px) {
                height: 64px;
                border-radius: 10px;
            }

            @media (max-width: 850px) {
                height: 56px;
                border-radius: 7px;
            }

            @media (max-width: 768px) {
                display: none;
            }


        }

        .gird-content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            grid-row: span 3;
            grid-column: span 6;

            @media (max-width: 768px) {
                grid-row: auto;
                grid-column: auto;
            }

            section {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                line-height: normal;

                h6 {
                    color: #6C86E3;
                    margin-bottom: 18px;

                    @media (max-width: 768px) {
                        margin-bottom: 13px;
                    }

                }

                h3 {
                    margin-bottom: 26px;
                    max-width: 820px;
                    color: #11201B;

                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                    }
                }

                p {
                    margin-bottom: 43px;
                    max-width: 686px;
                    color: #616161;
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;


                    @media (max-width: 1400px) {
                        margin-bottom: 20px;
                    }



                }
            }


        }
    }

    &.active {
        .content-area {

            span,
            .grid-image-box {
                transform: scale(1);

                img {
                    transform: scale(1);

                }


            }

            .grid-image-box {
                &:hover {
                    transform: scale(1.09);
                }




            }

        }
    }
}