.container {
    width: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;


    @media (min-width: 1080px) {
        padding: 0 40px;
    }

    @media (min-width: 1700px) {
        padding: 0 80px;
    }

}