///*****************************************//
// Footer ---------------------------------
///****************************************//
.footer {
    width: 100%;
    padding: 93px 0;
    background: #fff;

    @media (max-width: 1700px) {
        padding: 70px 0;
    }


    @media (max-width: 1400px) {
        padding: 60px 0 40px 0;
    }

    @media (max-width: 1200px) {
        padding: 40px 0 40px 0;
    }


    .content-area {
        display: grid;
        grid-template-columns: 0.7fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
        gap: 15px;
        width: 100%;

        @media (max-width: 1320px) {
            grid-template-columns: 0.6fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
        }


        @media (max-width: 1250px) {
            gap: 30px;
            grid-template-columns: .4fr .4fr .4fr .4fr .2fr .2fr .4fr;
        }

        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);

        }


        @media (max-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
        }



        h6 {
            margin-bottom: 8px;
            color: #282828;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;


            @media (max-width: 1700px) {
                font-size: 16px;
            }




            &.sub-heading {
                font-size: 15px;

                @media (max-width: 1700px) {
                    font-size: 14px;
                }

            }

        }



        .logo {
            color: #464646;
            margin-right: 80px;
            flex-shrink: 1;



            @media (max-width: 1700px) {
                margin-right: 30px;
            }

            @media (max-width: 1250px) {
                grid-column: 1 / span 7;
                order: 10;
            }

            @media (max-width: 991px) {
                grid-column: 1 / span 3;
            }


            @media (max-width: 640px) {
                grid-column: 1 / span 2;
            }

            img {
                margin-bottom: 20px;

                @media (max-width: 1320px) {
                    margin-bottom: 10px;
                }
            }

            p {
                margin: 0 0 40px 0;
                color: #464646;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                @media (max-width: 1700px) {
                    font-size: 17px;
                    margin: 0 0 30px 0;
                }


                @media (max-width: 1366px) {
                    font-size: 16px;
                    margin: 0 0 12px 0;
                }

            }

            span {
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                @media (max-width: 1700px) {
                    font-size: 14px;
                }
            }
        }

        .footer-link {

            @media (max-width: 991px) {
                order: 1;
            }


            ul {
                li {
                    a {
                        color: #797979;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 200%;

                    }
                }
            }





            .cta-btn {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 10px;

            }
        }

        .start-tirial {
            @media (max-width: 1250px) {
                grid-column: 5 / span 2;

            }

            @media (max-width: 991px) {
                grid-column: auto;
            }

            @media (max-width: 991px) {
                order: 3;
            }
        }

        .conncet-with {
            display: flex;
            flex-direction: column;
            margin-left: 60px;











            @media (max-width: 1700px) {
                margin-left: 25px;
            }

            @media (max-width: 1250px) {

                margin: 0;
            }



            @media (max-width: 991px) {
                order: 2;
                ;
            }



            .sub-heading {
                margin-bottom: 24px;
            }


            a {
                display: flex;
                align-items: center;
                gap: 16px;
                color: #797979;
                font-size: 16px;
                margin-bottom: 24px;

                i {
                    font-size: 16px;
                    color: #292D32;
                }
            }
        }
    }

}