///*****************************************//
// Footer ---------------------------------
///****************************************//
.footer {
    width: 100%;
    padding: clamp(24px, 4vw, 40px) 0;
    background: #fff;

    .content-area {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        .logo-section {
            display: flex;
            align-items: center;
            gap: clamp(24px, 2.5vw, 40px);

            @media (max-width: 1200px) {
                flex-direction: column;
                align-items: center;
            }

            .footer-link {
                ul {
                    display: flex;
                    align-items: center;
                    gap: clamp(20px, 2vw, 30px);


                    li {
                        a {
                            color: #595959;
                            font-size: clamp(14px, 1.2vw, 16px);
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                    }
                }
            }

            p {
                color: #7B7B7B;
                font-size: clamp(13px, 1.2vw, 15px);
                font-style: normal;
                font-weight: 400;
                line-height: normal;


            }

        }

        .conncet-with {
            display: flex;
            align-items: center;
            gap: clamp(20px, 3vw, 50px);

            @media (max-width: 1200px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
            }

            .powered-by {
                display: flex;
                align-items: center;
                gap: 9px;

                @media (max-width: 1200px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }


                span {
                    display: inline-block;
                    color: #7B7B7B;
                    font-family: var(--secondaryFont);
                    font-size: clamp(13px, 1.2vw, 15px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .social {
                display: flex;
                align-items: center;
                gap: clamp(18px, 1.8vw, 23px);

                a {
                    color: #3B3B3B;
                    font-size: 17px;
                }
            }
        }



    }


}