.main-header {
    background: #fff;
    transition: all 0.3s ease;
    border-bottom: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease-in-out;

    &.active {
        width: 100%;
        position: fixed;
        left: 0;
        background: #fff;
        z-index: 9999;

        @media (min-width: 1200px) {
            backdrop-filter: blur(10px);
            background: rgba(255, 255, 255, 0.48);
        }
    }

    .header-wapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;

        .logo {
            a {
                img {
                    width: clamp(120px, 12vw, 153px);
                    height: auto;
                }
            }
        }

        .menu-navigation {
            display: flex;
            gap: 40px;
            padding: 0 15px;
            margin-left: auto;
            margin-right: 0;



            a {
                font-size: clamp(16px, 1.2vw, 18px);
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                color: $primary-color;
                font-family: var(--sectondaryFont);
            }
        }

        .desktop-signin {
            .btn-primary-line {
                margin-right: 10px;
            }


        }

    }
}







/* ---- MOBILE ---- */
.mobile-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.mobile-toggle span {
    width: 25px;
    height: 3px;
    background: #000;
    transition: 0.3s;
}

.mobile-toggle.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.mobile-toggle.open span:nth-child(2) {
    opacity: 0;
}

.mobile-toggle.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Mobile Menu Hidden */
.menu-navigation {
    transition: 0.3s ease;


}

.mobile-signin {
    display: none !important;
    text-align: center;
}

@media (max-width: 1200px) {
    .menu-navigation {
        position: fixed;
        top: 77px;
        right: -105%;
        width: 100vw;
        height: 100vh;
        padding: 30px 20px !important;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba(255, 255, 255, 0.48);
        backdrop-filter: blur(10px);
        background: #ffffff7a;
        z-index: 9999;
    }

    .menu-navigation.show {
        right: 0;
        display: flex !important;

        .btn-primary {
            color: #fff !important;
        }

        .cta {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }
    }

    .desktop-signin {
        display: none;
    }

    .mobile-signin {
        display: flex !important;
        gap: 12px;
        border-radius: 6px;
        text-align: left;
        margin-right: 10px;

        color: #fff !important;

        .button {
            display: inline-block;


        }
    }

    .mobile-toggle {
        display: flex;
    }
}