.main-header {
    background: #fff;
    transition: all 0.3s ease;

    &.active {
        width: 100%;
        position: fixed;
        left: 0;
        background: #fff;
        z-index: 9999;

        @media (min-width: 1200px) {
            backdrop-filter: blur(10px);
            background: rgba(255, 255, 255, 0.48);
        }

    }

    .header-wapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        @media (max-width: 1200px) {
            padding: 20px 0;
        }

        .logo {
            a {
                img {
                    width: 171px;
                    height: auto;

                    @media (max-width: 1700px) {
                        width: 160px;
                    }

                    @media (max-width: 1400px) {
                        width: 145px;
                    }
                }
            }
        }

        .menu-navigation {
            display: flex;
            gap: 40px;
            padding: 0 15px;

            @media (max-width: 1700px) {
                padding: 0 30px;
            }




            @media (max-width: 1200px) {
                display: none;
            }



            a {

                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                color: $primary-color;
                text-transform: uppercase;
            }
        }

    }
}







/* ---- MOBILE ---- */
.mobile-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.mobile-toggle span {
    width: 25px;
    height: 3px;
    background: #000;
    transition: 0.3s;
}

.mobile-toggle.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.mobile-toggle.open span:nth-child(2) {
    opacity: 0;
}

.mobile-toggle.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Mobile Menu Hidden */
.menu-navigation {
    transition: 0.3s ease;


}

.mobile-signin {
    display: none !important;
    text-align: center;
}

@media (max-width: 1200px) {
    .menu-navigation {
        position: fixed;
        top: 77px;
        right: -100%;
        width: 100vw;
        height: 100vh;
        padding: 30px 20px !important;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba(255, 255, 255, 0.48);
        backdrop-filter: blur(10px);
        background: #ffffff7a;
        z-index: 9999;
    }

    .menu-navigation.show {
        right: 0;
        display: flex !important;
    }

    .desktop-signin {
        display: none;
    }

    .mobile-signin {
        display: block !important;
        border-radius: 6px;

        color: #fff !important;
    }

    .mobile-toggle {
        display: flex;
    }
}