/*===========================================
Colors
===========================================*/
$base-color: #383838;
$body-background-color: #fff;
$primary-color: #11201B;
$secondary-color: #2B3130;
$tertiary-color: #4C4C4C;

$fourth-color: #7399E9;




$text-color-1: #263238;
$text-color-2: #263049;
$text-color-3: #87949B;





/*===========================================
Fonts
===========================================*/
// $icon-font: 'remixicon'; 

$base-font-family: "Inter", sans-serif;
$primary-font: "Inter", sans-serif;
$base-font-size: 18px;
$base-line-height: 160%;